/*Generic input field container*/
.InputField_container {
    padding: 10px 20px;
    border-radius: 3px;
    margin: 20px 0px;
}

.InputField_container.inputvalue_None {
    background-color: rgb(255, 239, 239);
}

/* List input*/
.ListInput_container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid; 
    border-color: gray;
    border-width: 1px; 
    padding: 20px;
    border-radius: 1px
}

/*Dictionary input*/
.DictInput_container {
    flex: 1;
    border-radius: 5px;
    padding: 10px 0px;
    background-color:whitesmoke;
}

/* Creatable dictionary input*/
.CreatableDictInput_fieldset {
    border: dashed #ccc 1px;
    border-radius: 5px;
    padding: 0px;
    margin: 2px 0px;
}

.CreatableDictInput_fieldset .DictInput_container {
    background-color: inherit;
}

.CreatableDictInput_fieldset .DictInput_container .InputField_container{
    flex: 1;
}