@use "constants" as c;

.#{c.$input_group}{
    width: 100%
}

.#{c.$input_group}{
    > .subgroupscontainer {
        width: 100%
    }
}

.#{c.$input_subgroup}{
    width: 100%;

    > .fieldscontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

/*Generic input field container*/
.#{c.$input_field}{
    flex: 100%;
    padding: 10px 10px;
    border-radius: 3px;
    margin: 10px 0px;

    // How to style the input field when its value is None
    &.inputvalue_None {
        opacity: 0.5;
        // border-left: 6px solid;
        // border-right: 6px solid;
        // border-color: rgb(224, 224, 224);
        // background-color: rgb(255, 239, 239);
    }
}

.#{c.$input_field}_{

/* Boolean input */
&bool{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* List input*/
&list{
    > .container {
        border-style: solid; 
        border-color: gray;
        border-width: 1px; 
        padding: 20px;
        border-radius: 1px;

        > .listcontainer {
            width: 100%;

            > .listitem {
                width: 100%;
                display: flex;
                align-items: center;

                > .#{c.$input_field}{
                    flex: 1;
                }
            }
        }
    }

    

}

/*Dictionary input*/
&dict {
    > .container {
        flex: 1;
        border-radius: 5px;
        padding: 10px;
        background-color:whitesmoke;

        > .namediv {
            padding-bottom: 10px;
        }
    
        > .fieldscontainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    
}

/* Creatable dictionary input*/
&creatable_dict{
    > .container {
        > .namediv {
            padding-bottom: 10px;
        }
        > .listcontainer {
            > fieldset {
                border: dashed #ccc 1px;
                border-radius: 5px;
                padding: 0px;
                margin: 2px 0px;
                > .#{c.$input_field}{
                    width: auto;
                }
            }
        }
        > .newfielddiv {
            display: flex;
            > .#{c.$input_field}{
                flex: 1;
                padding-left: 5px;
            }
        }

    }
    
}

}

// Defaults for input fields inside setting containers
.#{c.$plotsettings} , .#{c.$sessionsettings}{
.#{c.$input_field}_{
    &textinput{flex: 40%}
    &bool {flex: 20%}
    &number{flex: 20%}
    &options, &creatable_options{flex: 40%}
    &dict, &creatable_dict{flex: 100%}
    &color{flex: 30%}
    &rangeslider{flex: 100%}
    &range{flex: 40%}
    &vector{flex: 40%}
    &list{flex: 100%}
}
}